body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A0CED9;
  font-family: Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.justify-content-end{
  background-color:rgb(218, 247, 247);
}

.header1{
  text-align: center;
  margin-top:60px;

}

.header2{
  width:100%;
  margin-bottom: -50px;
  display: inline-block;
  overflow: hidden;
}


.cats{
  text-align: center;
}
.returnList{
  text-align: center;
}

.cat-image {
   height: 250px;
   max-width: 100%;
   align-self: center;
   min-height: 250px;
   min-width: 250px;
}

.cat-image:hover {
  opacity: 0.75;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.cat-detail {
  text-align: center;
}
.container{
  text-align: center;
  margin-top: 100px;
}

#nav-dropdown{
  margin-top:-10px;
}


.row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  gap: 20px 5px;
}

.column {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  /* column-count: 4; */
  /* flex: 0 0 33.333333%; */
  flex: 0 0 21%;
}

.animal-item {
  padding: 4%;
  box-sizing: border-box;
  margin: 8px;
  position: relative;

}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top:200px;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100px;
}




















/* .animal-item div {
 position: absolute;
 text-align: center;
 bottom: 0;
 left: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.animal-item:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
} */