body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A0CED9;
  font-family: Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.justify-content-end{
  background-color:rgb(218, 247, 247);
}

.header1{
  text-align: center;
}
.cats{
  text-align: center;
}
#returnList{
  text-align: center;
}

.cat-image {
   height: 250px;
   width: 100%;
   align-self: center;
}

.cat-image:hover {
  opacity: 0.75;
}

.cat-detail {
  text-align: center;
}
.container{
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  gap: 20px 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  /* column-count: 4; */
  /* flex: 0 0 33.333333%; */
  flex: 1 0 21%;
}

.animal-item {
  padding: 4%;
  box-sizing: border-box;
  margin: 8px;
  position: relative;
}

.animal-item div {
 position: absolute;
 text-align: center;
 bottom: 0;
 left: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.animal-item:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
}